div {
  font-size: 1rem;
  font-family: sans-serif;
}

.cardimg{
  width: 3.5rem;
  height: 5rem;
  margin: 0.4rem;
}

.main {
  background-color: rgb(133, 76, 0);
  display: flex;
  flex-wrap: wrap;
  min-width: 0px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.deck {
  background-color: rgb(0 16 92);
  min-width: 0px;
  min-height: 40vh;
  width: 100%;
  height: 100%;
}

.cardlist {
  background-color: rgb(27, 110, 0);
  min-width: 0px;
  min-height: 60vh;
  width: 100%;
  height: 100%;
}

.cardlist2 {
  background-color: rgb(76, 0, 90);
  min-width: 0px;
  min-height: 40vh;
  width: 100%;
  height: 100%;
}

.details {
  background-color: rgb(0, 18, 110);
  display: none;
}

.cardzone {
  border: 0.1rem solid #3432b7;
  width: 3.5rem;
  height: 5rem;
  margin: 0.4rem;
}

.all-decks {
  /* height: 30vh;
      overflow: auto; */
}

.maindeck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-border {
  border: 0.3vw solid #3432b7;
  border-radius: 1em;
}

.test {
  display: flex;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 1em;
  font-family: sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}

.deck-number-circle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3432b7;
}
.deck-number-number {
  border: 0.1rem solid #3432b7;
  padding: 0.5rem 0.3rem;
  border-radius: 50%;
}

.main-h {
  width: 100%;
  color: white;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(38 41 158);
  margin: 0rem 1rem;
  margin-top: 1rem;
}

.m1 {
  margin: 0.5rem;
}

.input-min {
  min-width: 7rem;
}

.btn {
  background-color: rgb(38 41 158);
  border: 0.1rem solid #ffffff;
  color: white;
  padding: 0.5rem;
  width: 28%;
  border-radius: 0.5rem;
  min-width: 5rem;
  margin: 0.5rem;
}

.btn:active {
  background-color: rgb(56 61 234);
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .main {
    background-color: rgb(106, 84, 54);
  }

  .deck {
    background-color: rgb(78, 44, 44);
  }

  .cardlist {
    background-color: rgb(69, 83, 65);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    background-color: rgb(240, 180, 101);
    display: flex;
  }

  .deck {
    background-color: rgb(223, 96, 96);
    min-width: 384px;
    min-height: 70vh;
    width: 50%;
    height: 100%;
  }

  .cardlist {
    background-color: rgb(125, 221, 93);
    min-width: 384px;
    min-height: 70vh;
    width: 50%;
    height: 100%;
  }

  .details {
    background-color: rgb(95, 117, 225);
    min-width: 768px;
    min-height: 30vh;
    width: 100%;
    height: 100%;
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    background-color: rgb(240, 180, 101);
    display: flex;
  }

  .deck {
    background-color: rgb(223, 96, 96);
    min-width: 330.6666px;
    min-height: 100vh;
    width: 33.33%;
    height: 100%;
  }

  .cardlist {
    background-color: rgb(125, 221, 93);
    min-width: 330.6666px;
    min-height: 100vh;
    width: 33.33%;
    height: 100%;
  }

  .details {
    background-color: rgb(95, 117, 225);
    min-width: 330.6666px;
    min-height: 100vh;
    width: 33.33%;
    height: 100%;
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
